body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-image: url("img/background.jpg");
    background-size: cover;
    color: white;
    text-shadow: black 0px 0px 10px;
}

h1 {
    justify-content: center;
    display: flex;
}

h2 {
    justify-content: center;
    display: flex;
}

form {
    display: flex;
    justify-content: center;
}

input {
    padding: 12px 20px;
    border: 2px solid black;
    border-radius: 4px;
}

a {
    color: white;
    text-decoration: none;
    display: inline-flex;
}

a:hover {
    text-decoration: underline;
}

.linklist {
    display: inline-flex;
}

.sidelist {
    display: inline-flex;
}

#links {
    display: flex;
    justify-content: center;
}

#header {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    height: 250px;
    font-size: 125%;
}

#header li {
    display: inline-flex;
}

#footer li {
    display: inline-flex;
}

#footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
}

#signup {
    justify-content: center;
    align-items: center;
    display: flex;
}

#links {
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    padding-top: 120px;
}

button {
    background-color: rgb(9, 91, 12);
    border-radius: 10px;
    border: 2px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
