body {
  background-color: rgb(235, 92, 0);
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

#gap {
  padding-top: 56px;
}

#intro {
  padding-top: 56px;
  height: 500px;
}

#about {
  padding-top: 56px;
  height: 500px;
}

#activities {
  padding-top: 56px;
  height: 500px;
}

#woodsmen {
  width: 540px;
  height: 358px;
}

#tiltfactor {

}

#susty {
  width: 540px;
  height: 405px;
}

.BeforeScroll
{
  height: 100px; /*Whatever you want*/
  width: 100%; /*Whatever you want*/
  .
  .
  display: none;
}

.AfterScroll
{
  height: 100px; /*Whatever you want*/
  width: 100%; /*Whatever you want*/
  .
  .
  display: block;
}
